body {
    margin: 0;
    padding: 0;
    background: url('../img/curved_lines.svg') no-repeat center center fixed;
    background-size: cover;    
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Style for navbar when scrolled */
.navbar.scrolled {
    background-color: #fff0d3;
}

.custom-toggler.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 65, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbarNav .nav-item .nav-link {
    background-color: #FC4100;
    border-radius: 10px 10px 10px 0;
    color: white;
}

#navbarNav .nav-item a:hover {
    background-color: #FFC55A;
    border-radius: 10px 10px 10px 0;
    color: #333;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

#navbarNav .nav-item .dropdown-toggle {
    background-color: #FC4100 !important;
    border-radius: 10px 10px 10px 0;
    color: white;
}

#navbarNav .nav-item .dropdown-menu {
    border-radius: 0 10px 10px 10px;
    border: 1px solid #FFF0D3;
}

#navbarNav .nav-item .dropdown-menu a {
    background-color: none;
    border-radius: 0;
}

#navbarNav .nav-item .dropdown-menu a:hover {
    background-color: transparent;
    color: #ffc55a;
    border-radius: 0;
}

.offcanvas-nav {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -80%;
    background-color: #ffc55a;
    overflow-x: hidden;
    transition: 0.09s;
    padding-top: 60px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
}

.offcanvas-nav.show {
    right: 0;
}

.offcanvas-nav li {
    margin-bottom: 10px;
}

.offcanvas-nav .nav-item .active{
    color: #FC4100 !important;
}

.closebtn {
    position: absolute;    
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #ffffff;
}

#home {
    margin-top: 0;
    padding-top: 4.5rem; /* Equal to the height of the navbar */
    background: transparent !important;
}

.black-friday {
    font-size: 1.5em; 
    background-color: #FC4100;
    color: white;
    border-radius: 10px 0 10px 0;
}

.rotating-text-container {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    height: 4rem; /* Adjust as needed */
    overflow: hidden;
    position: relative;
}
  
.rotating-text {
    display: inline-block;
    position: absolute;
    top: 0;
}
  
.rotating-text span {
    display: block;
    height: 4rem; /* Adjust as needed */
    line-height: 4rem; /* Adjust as needed */
}

#description {
    min-height: 180px; /* Set a fixed height */
    display: flex;
    align-items: left;
    overflow: hidden; /* Hide any overflow text */
    font-size: 1.6em;
}
  

.btn {
    border-radius: 10px 10px 10px 0;
}

.btn-primary {
    background-color: #ffc55a;
    border: 1px solid #FFC55A;
    color: black;
}

.btn-primary:hover {
    background-color: #fc4100;
    border: 1px solid #FC4100;
    color: white;
}

.btn-main {
    background-color: #FC4100;
    border: 1px solid #FC4100;
    color: white;
}

.btn-main:hover {
    background-color: #FFC55A;
    border: 1px solid #FFC55A;
    color: white;
}

.btn-outline-accent {
    border: 1px solid #FFC55A;
    color: #FFC55A;
}

.btn-outline-accent:hover {
    background-color: #FFC55A;
    border: 1px solid #FFC55A;
    color: black;
}


.bg-accent {
    background-color: #00215E;
    color: white;
}


.text-accent {
    color: #00215E
}

.text-main {
    color:#FC4100
}

.text-primary {
    color: #FFC55A !important;
}

/* How it works*/
.how-it-works-step {

    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
  }

  .step-even {
    background-color: #ffc55a;
  }

  .step-odd {
    background-color: #FFF0D3;
  }

  .how-it-works-step img {
    max-height: 100px;
    margin-bottom: 1rem;
  }

  .how-it-works-step h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }



  .about-us-image {
    max-width: 70%; /* Adjust this value to make the image smaller */
    height: auto; /* Maintain aspect ratio */
}

#about {
    .about-content {
        text-align: justify;
    }
}

/* Features */
#shoppers {
    background: url('../img/shopper_bkg.png') no-repeat center center;
}

#shoppers .feature-card:hover {
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#vendors {
    background-color: #FFF0D350;
}

#vendors .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
    background-color: #FFF0D3;
}

#cta {
    background-color: #f8f9fa;
    padding: 3rem 0;
  } 
  
  #cta p {
    font-size: 1.25rem;
  }
  

  
  #cta small {
    font-size: 0.875rem;
  }
  

/* FAQ Section */
#faq .accordion-button {
    background-color: #FFC55A;
    color: #333;
    border: none;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-item {
    border: none;
}

#faq .accordion-button:focus {
    box-shadow: none;
}


  


footer .nav-link {
    color: #FFC55A;
}