body {

    margin: 0;
    padding: 0;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Style for navbar when scrolled */
.navbar.scrolled {
    background-color: #fff0d3;
}

.custom-toggler.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 65, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbarNav .nav-item a {
    background-color: #FC4100;
    border-radius: 10px 10px 10px 0;
    color: black;
}

#navbarNav .nav-item a:hover {
    background-color: #FFC55A;
    border-radius: 10px 10px 10px 0;
    color: #333;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.offcanvas-nav {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -80%;
    background-color: #ffc55a;
    overflow-x: hidden;
    transition: 0.09s;
    padding-top: 60px;
    z-index: 1050;
    display: flex;
    flex-direction: column;    
}

.offcanvas-nav.show {
    right: 0;
}

.offcanvas-nav li {
    margin-bottom: 10px;
}

.offcanvas-nav .nav-item .active{
    color: #FC4100 !important;
}

.closebtn {
    position: absolute;
    
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #ffffff;
}


#hero {
    margin-top: 0;
    padding-top: 4.5rem; /* Equal to the height of the navbar */
    background: url('../img/hero.svg') no-repeat center center;
    background-size: cover;
}

.btn {
    border-radius: 10px 10px 10px 0;
}

.btn-primary {
    background-color: #ffc55a;
    border: 1px solid #FFC55A;
    color: black;
}

.btn-primary:hover {
    background-color: #fc4100;
    border: 1px solid #FC4100;
    color: white;
}

.btn-main {
    background-color: #FC4100;
    border: 1px solid #FC4100;
    color: black;
}

.btn-main:hover {
    background-color: #FFC55A;
    border: 1px solid #FFC55A;
    color: white;
}

.btn-outline-accent {
    border: 1px solid #00215E;
    color: #00215E;
}

.btn-outline-accent:hover {
    background-color: #00215E;
    border: 1px solid #00215E;
    color: white;
}


.bg-accent {
    background-color: #00215E;
    color: white;
}

.text-accent {
    color: #00215E
}

.text-main {
    color:#FC4100
}

.text-primary {
    color: #FFC55A !important;
}

/* Features */
.feature-card:hover {
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer .nav-link {
    color: #FFC55A;
}